
.navbar {
      margin-bottom: 0;
      background-color: black;
      border-color: white;
      z-index: 2;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

.navbar-brand{
  margin-top: -5px;
}
.logoicon {
  width: 130px;
  height: 30px;
}
.logo-BI {
  width: 130px;
  height: 50px;
}
.logo-HSBC {
  width: 110px;
  height: 80px;
}
.logo-MAS {
  width: 90px;
  height: 70px;
}
.container{
  max-width: 700px;
}
.nav-item:hover{
  background-color: #337ab7;
  display: block;
  color: seashell;
}
#main {
padding: 0px 10px;
margin-top: 70px;
margin-left: 20px;
margin-right: 20px;
}

.navbar {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    /* .row.content {height: 750px;} */

    /* Set gray background color and 100% height */
   

    /* On small screens, set height to 'auto' for sidenav and grid */
    /* @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }
      .row.content {height:auto;}
    } */
